.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ===== HEADER ===== */
.header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 200px;
  padding-right: 20px;
}

.headerLeft {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.headerRight {
  display: flex;
  align-items: center;
}

/* date picker đẹp hơn */
.datePicker {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.datePicker:hover {
  border-color: #bbb;
  background-color: #fafafa;
}

.datePicker:focus {
  border-color: #666;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

.datePicker::-webkit-calendar-picker-indicator {
  filter: invert(40); /* => đen luôn */
  cursor: pointer;
  opacity: 0.6;
}

.datePicker::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

/* ===== CONTENT ===== */
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 700px;
  background-color: #fff;
  overflow-y: auto;
  padding-right: 20px;
}

/* ROW */
.calendarDay {
  display: flex;
  gap: 40px;
}

/* TIME */
.time {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #eee;
  min-height: 100px;
  width: 100px;
  color: #777;
}

.currentDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 6px;
}

/* TASK COLUMN */
.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-top: 1px solid #eee;
}

/* EMPTY */
.empty {
  min-height: 80px;
}

/* ===== TASK CARD ===== */
.taskCard {
  border-radius: 12px;
  padding: 14px 16px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: 0.15s ease;
  
}

.taskCard:hover {
  transform: scale(1.01);
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.taskTitle {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.taskTime {
  font-size: 12px;
  color: white;
}

.taskDesc {
  font-size: 13px;
  color: white;
  line-height: 1.4;
  opacity: 0.85;
}

/* màu pastel */
.taskBlue {
  background-color: #cfe8ec;
}

.taskGreen {
  background-color: #d7f2e3;
}

.taskOrange {
  background-color: #fde7d6;
}

.taskPurple {
  background-color: #e6dcf7;
}

.taskCompleted {
  background-color: #e5e5e5;
  opacity: 0.7;
}
