.wrapper {
  background-color: #ffffff;
  min-height: 100vh;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: rgb(248, 248, 248);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.dayHeader {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 1px 3px 3px -1px rgb(205, 205, 205);
}

.dayCell {
  background-color: #ffffff;
  min-height: 120px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  box-shadow: 1px 3px 3px -1px rgb(205, 205, 205);
}

.dayNumber {
  font-weight: 500;
  margin-bottom: 5px;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.taskItem {
  font-size: 0.75rem;
  padding: 5px 6px;
  border-radius: 4px;
  background-color: #e0f2fe;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 0;
}
.taskTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  flex: 1;
  min-width: 0;
}

/* Màu sắc theo trạng thái */
.hoanthanh {
  background-color: #d2f7fc;
  color: #000000;
}
.danglam {
  background-color: #ffc8d4;
  color: #000000;
}
.chuahoanthanh {
  background-color: #c9ffe9;
  color: #000000;
}

.taskDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: currentColor;
  margin-right: 4px;
}
.today {
  border: 2px solid rgb(4, 187, 172);
}
